<h2>{{transaction.Desc}} Transactions</h2>
<div *ngIf="transaction">
  <table border="2">
   
      <td>AccName</td><td>	TransTime</td>
  
      <td>	TransDate</td><td>	Ticker	</td>

      <td>	Quantity</td><td>	SharePrice</td>

      <td>	Consideration</td><td>	TransType</td>

      <td>	Commission</td><td>	StampDuty</td>
    <tr>
      <td>{{ transaction.AccName}}</td><td>	{{ transaction.TransTime}}</td>
 
      <td>	{{ transaction.TransDate}}</td><td>	{{ transaction.Ticker	}}</td>

      <td>	{{ transaction.Quantity}}</td><td>	{{ transaction.SharePrice}}</td>

      <td>	{{ transaction.Consideration}}</td><td>	{{ transaction.TransType}}</td>

      <td>	{{ transaction.Commission}}</td><td>	{{ transaction.StampDuty}}</td>
      </tr>
  </table>
  </div>